.CreateExercise {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    width: 100%;
    padding-top: 1.5%;

    color: #ffffff;
    background: #2b2a29;
}

.CreateExercise > div {
    width: 35%;
}

.CreateExercise h1 {
    text-align: center;
}

.CreateExercise form {
    max-width: 100%;
    padding: 2.5% 5% 2.5% 2.5%;
    margin: 1.5%;

    background-color: #868686;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .50);
}

