.Select {
    margin-bottom: 3%;
}{'value': 1, 'text': 1}

.Select label {
    display: block;

    margin-bottom: 1.5%;

    font-size: 1.5rem;
    font-weight: bold;
}

.Select select {
    display: block;
    box-sizing: border-box;

    width: 100%;
    padding: 1.5%;

    font-size: 1.2rem;
    outline: none;
    border: 1px solid #bababa;

    cursor: pointer;
}