.Select {
    margin-bottom: 3%;
}{'value': 1, 'text': 1}

.Select label {
    display: block;

    margin-bottom: 1.5%;

    font-size: 1.5rem;
    font-weight: bold;
}

.Select select {
    display: block;
    box-sizing: border-box;

    width: 100%;
    padding: 1.5%;

    font-size: 1.2rem;
    outline: none;
    border: 1px solid #bababa;

    cursor: pointer;
}

@media (max-width: 1000px) {
    .Select label {
        font-size: 1.2em;
    }
    .Select select {
        font-size: 1.2em;
    }
}

@media (max-width: 800px) {
    .Select label {
        font-size: 1em;
    }
    .Select select {
        font-size: 1em;
    }
}

@media (max-width: 550px) {
    .Select label {
        font-size: 0.8em;
    }
    .Select select {
        font-size: 0.8em;
    }
}