.ActiveExercise {
    width: 35%;
    padding: 1rem;
    margin: 0 auto;

    background-color: #6d6d69;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, .50);
}

.ActiveExercise p {
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;
}

.ActiveExercise p small{
    font-size: 1rem;
}