.MenuToggle{
    box-sizing: border-box;

    position: fixed;
    left: 1%;
    top: 1%;
    z-index: 100;

    display: inline-block;

    font-size: 2.5rem;
    color: #ffffff;

    cursor: pointer;
    transition: left .3s ease-in-out, opacity .3s ease-in;
}

.MenuToggle:hover{
    opacity: .7;
}

.MenuToggle.Open{
    left: 25.3%;
}
